name: Build ZMK firmware

on:
  push:
    paths:
      - "config/**"
      - ".github/workflows/build.yml"
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build.yml@main
