name: Build ZMK firmware

on:
  push:
    paths:
      - "config/**"
      - ".github/workflows/build.yml"
  workflow_dispatch:

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@main
    with:
      board: nice_nano_v2
      shield: mykeyboard